{% extends 'base.html.twig' %}

{% block title %}
    {{ 'category.create.head.title'|trans }}
{% endblock %}

{% block body %}
    <div class="container pt-5">
        <h1>{{ 'category.create.h1'|trans }}</h1>

        {# {{ form(formView) }}#}

        {{ form_start(formView) }}
        <div class="row">
            <div class="col-md-6 col-sm-12 mb-4">
                {{ form_label(formView.name) }}
                {{ form_widget(formView.name) }}
                {{ form_help(formView.name) }}
                {% for error in formView.name.vars.errors %}
                    <div class="text-danger">{{ error.message|trans }}</div>
                {% endfor %}
                {# form_row(formView.name) #}
            </div>
        </div>

        <button type="submit" class="btn btn-success">
            <i class="fas fa-save"></i>
            {{ 'category.create.form.btn.create'|trans }}
        </button>
        {{ form_end(formView) }}
    </div>
{% endblock %}

