{% extends 'base.html.twig' %}

{% block title %}
    {{ 'category.head.title'|trans({'%name%': category.name}) }}
{% endblock %}

{% block body %}

<div class="container pt-5">
    {% include 'shared/_breadcrumb.html.twig' with { 'links' :
        [
            {'href': path('homepage'), 'name': 'homepage.head.title'|trans },
            {'href': '#', 'name': category.name },
        ]}
    %}

    <h1>{{ 'category.h1'|trans({'%name%': category.name}) }}</h1>

        <div class="row">
        {% for p in category.products %}
            <div class="col-3 py-2">
                <div class="card border border-primary">
                    <img
                        class="img-fluid"
                        src="{{ p.mainPicture }}"
                        alt="{{ p.name }}"
                    >
                    <div class="card-body">
                        <h4 class="card-title">{{ p.name }} ({{ p.price / 100}}) &euro;</h4>

                        <span class="badge bg-info">
                                    {{ p.category.name }}
                                </span>

                        <p class="card-text">{{ p.shortDescription }}</p>
                        <a
                            href="{{ path('product_show', {'categorySlug': p.category.slug,'productSlug': p.slug}) }}"
                            class="btn btn-primary btn-sm"
                        >
                            {{ 'details'|trans({}, 'btn') }}
                        </a>
                        <a href="#" class="btn btn-primary btn-sm">{{ 'add'|trans({}, 'btn') }}</a>
                    </div>
                </div>
            </div>
        {% endfor %}
    </div>
</div>
{% endblock %}

