{% extends 'base.html.twig' %}

{% block title %}
    {{ 'product.create.head.title'|trans }}
{% endblock %}

{# Use the form_row Block instead of form_row from twig  #}
{# {% form_theme formView 'bootstrap_5_layout.html.twig' %}#}

{% block body %}
    <div class="container pt-5">
        <h1>{{ 'product.create.h1'|trans }}</h1>

        {# {{ form(formView) }}#}

        {{ form_start(formView) }}
        {# form_errors(formView) #}
        <div class="row">
            <div class="col-md-6 col-sm-12 mb-4">
                {# form_row(formView.name) #}
                {{ form_label(formView.name) }}
                {{ form_widget(formView.name) }}
                {{ form_help(formView.name) }}
                {% for error in formView.name.vars.errors %}
                    <div class="text-danger">{{ error.message|trans }}</div>
                {% endfor %}
            </div>

            <div class="col-md-6 col-sm-12 mb-4">
                {# form_row(formView.price) #}
                {{ form_label(formView.price) }}
                {{ form_widget(formView.price) }}
                {{ form_help(formView.price) }}
                {% for error in formView.price.vars.errors %}
                    <div class="text-danger">{{ error.message|trans }}</div>
                {% endfor %}
            </div>

            <div class="col-md-6 col-sm-12 mb-4">
                {# form_row(formView.mainPicture) #}
                {{ form_label(formView.mainPicture) }}
                {{ form_widget(formView.mainPicture) }}
                {{ form_help(formView.mainPicture) }}
                {% for error in formView.mainPicture.vars.errors %}
                    <div class="text-danger">{{ error.message|trans }}</div>
                {% endfor %}
            </div>

            <div class="col-md-6 col-sm-12 mb-4">
                {# form_row(formView.category) #}
                {{ form_label(formView.category) }}
                {{ form_widget(formView.category) }}
                {{ form_help(formView.category) }}
                {% for error in formView.category.vars.errors %}
                    <div class="text-danger">{{ error.message|trans }}</div>
                {% endfor %}
            </div>

            <div class="col-md-6 col-sm-12 mb-4">
                {# form_row(formView.shortDescription) #}
                {{ form_label(formView.shortDescription) }}
                {{ form_widget(formView.shortDescription) }}
                {{ form_help(formView.shortDescription) }}
                {% for error in formView.shortDescription.vars.errors %}
                    <div class="text-danger">{{ error.message|trans }}</div>
                {% endfor %}
            </div>

            <div class="col-sm-12 mb-3">
                <button type="submit" class="btn btn-success" style="float:right">
                    <i class="fas fa-save"></i>
                    {{ 'product.create.form.btn.create'|trans }}
                </button>
            </div>
            {{ form_end(formView) }}
        </div>
    </div>
{% endblock %}

