{% extends 'base.html.twig' %}

{% block title %}
    {{ 'product.edit.head.title'|trans({'%name%' : formView.name.vars.value}) }}
{% endblock %}

{% block body %}
    <div class="container pt-5">
        <h1>{{ 'product.edit.h1'|trans({'%name%' : formView.name.vars.value}) }}</h1>

        {{ form_start(formView) }}
        {{ form_errors(formView) }}
        <div class="row">
            <div class="col">
                {{ form_row(formView.name) }}
                {{ form_row(formView.price) }}
            </div>
            <div class="col">
                {{ form_row(formView.mainPicture) }}
                {{ form_row(formView.category) }}
                {{ form_row(formView.shortDescription) }}
            </div>
        </div>

        {#{{ form_widget(formView) }}#}

        <button type="submit" class="btn btn-success">
            <i class="fas fa-save"></i>
            {{ 'product.edit.form.btn.save'|trans }}
        </button>
        {{ form_end(formView) }}
    </div>
{% endblock %}

